.modal-content {
    font-family: 'pkmn_rbygscregular' !important;
    text-align: center;
    width: 100vw !important;
    height: 100vh;
    align-self: center;
    display: flex;
    position: absolute;
    align-items: center;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    width: 525px;
    background-color: #363636;
    justify-content: center;
    height: 150px;
    margin: auto;
    font-size: 55px;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
}

.new-level {
    width: 150px;
    height: 40px;
    background-color: #F64747;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
}

.pokeball {
    /* background-image: url('../../../images/pokeballPrize.png'); */
    height: 400px;
    width: 400px;
    align-items: center;
    margin: auto;
    /* display: flex; */
    margin-top: -25px;
    z-index: inherit+1;
}

.reward-circle {
    background-color: rgb(255, 255, 255);
    border: 20px solid;
    border-radius: 300px;
    border-color: rgb(245, 210, 15);
    margin-left: -20px;
}

.pokeball-bg{
    width: 300px;
    height: 300px;
    opacity: 0.15;
    position: relative;
    left: 45px;
    background-image: url('../../../images/background_pokeball_white.png');
    background-repeat: no-repeat;
    background-size: 300px;
    
}

.pokemon-reward {
    height: 500px;
    width: 500px;
    z-index: 20;
    margin-top: -50px !important;
}

.action-button-container {
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    width: 500px !important;
    min-width: auto;
    margin-left: -50px;
}

.reward-button {
    background-color: #363636 !important;
    color: white !important;
    font-family: 'pkmn_rbygscregular' !important;
    padding: 12px !important;
    
}

.blocks {
    margin-bottom: 150px;
}

.hidden {
    margin-top: 10px;
}