.modal-content {
    font-family: 'pkmn_rbygscregular' !important;
    text-align: center;
    padding: 20px 20px;
    width: 100vw !important;
    height: 100vh;
    align-self: center;
    display: flex;
    position: absolute;
    align-items: center;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    width: 525px;
    background-color: #363636;
    justify-content: center;
    height: 150px;
    margin: auto;
    font-size: 55px;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
}

.new-level {
    width: 150px;
    height: 40px;
    background-color: #F64747;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
}

.pokeball {
    /* background-image: url('../../../images/pokeballPrize.png'); */
    height: 400px;
    width: 400px;
    align-items: center;
    margin: auto;
    display: flex;
    margin-top: -10px;
    z-index: inherit+1;
}