.modal-content {
    font-family: 'Roboto', sans-serif !important;
    text-align: left;
    padding: 20px 20px;
    width: 875px;
    height: 500px;
}

.grouping{
    align-items: center;
    width: 100%;
    display: flex;
    padding-bottom: 30px;
}

.modal-task-title{
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 600 !important;
    font-size: 40px;
    line-height: 20px;
    margin-top: 15px;
    color: #3D3D3D;
    margin-bottom: 15px;
}

.task-number{
    font-weight: 600 !important;
    font-size: 40px;
    line-height: 20px;
    margin-top: 15px;
    color: #898989;
    padding-right: 30px;
    margin-bottom: 15px;
}

.right-align{
    width: 100%;
    display: inline-flex;
    align-self: center;
    justify-content: flex-end;
}

.padding-bottom-p{
    padding-bottom: 10px;
}

.goal-name{
    background: #5AC7CE;
    border-radius: 15px;
    
    width:450px;
    font-family: 'pkmn_rbygscregular', monospace !important;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 10px 15px;
}

.story-points-label{
    text-align: right;
    font-family: 'Roboto Condensed', monospace !important;
    font-weight: 600 !important;
    color: #3D3D3D;
    font-size: 30px;
}

.story-points{
    text-align: right;
    font-family: 'pkmn_rbygscregular';
    font-weight: 600 !important;
    line-height: 29px;
    font-size: 30px;
    color: #F74747;
    padding-left: 15px;
}

.grey-group{
    background: rgba(241, 241, 241, 0.69);
    padding: 10px 30px;
    height: 250px;
}

.description-label{
    font-family: 'Roboto Condensed', monospace !important;
    font-weight: 600 !important;
    color: #3D3D3D;
    font-size: 23px;
    line-height: 0px;
}

.description{
    font-family: 'Roboto Condensed Light', monospace !important;
    font-weight: 600 !important;
    color: #3D3D3D;
    font-size: 22px;
    line-height: 40px;
}

.approved-section{
    margin-top: 20px;
}

.approved-label{
    font-family: 'Roboto Condensed', monospace !important;
    font-weight: 600 !important;
    font-size: 22px !important;
}

.save-button{
    font-family: 'pkmn_rbygscregular', monospace !important;
    color: white;
    font-size: 16px !important;

    margin-top: 20px;
    width: 120px;
    height: 50px;  
    background-color: #3d3d3d;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
    transition: 0.5s;
}

.bin-button{
    margin-top: 20px;
    width: 50px;
    height: 50px;  
 
    background-image: url('../../../images/delete.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 30px 30px;
    background-position: center;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
    transition: 0.5s;
}

.bin-button:hover{
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    top: 14px;
    background-color: rgba(225, 225, 225);
    transition: 0.3s;
 }

 .bin-button:active{
    background-color: rgba(215, 215, 215);
 }



@media (max-width:1000px){
    .modal-content {
        width: 500px !important;
    }

    .story-points-label{
        display: none;
    }



}