.Pokedex{
   height: 100%;
   background-color: whitesmoke;
   /* background-image: url("../images/background_pokeball.png");
   background-position: center;
   background-repeat: no-repeat; */
}

.TeamCard {
    z-index: 5;
    position: fixed;
    left: 0;
    bottom: 0;
}

