
.board-page {
    align-content: center;
    flex-direction: row;
    display: flex;
    height: 100%;
    width: 100vw;
}

.menu {
    display: inline-block;
}

.profile-card {
    z-index: 5;
    position: fixed;
}


.profile-content {
    left: 250px;
}


.profile-background {
    justify-content: space-evenly;
    background-image:  url('../images/pokeball\ background.png');
    background-size: 300px;
    background-repeat: repeat;
    padding-bottom:20px;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -10 !important;
    position: fixed;
}

