.team-details {
    display: flex;
    flex-direction: row;
    /* margin-left: 20px; */
}

.team-icon-bg {
    height: 79px;
    background-color: white;
    border-radius: 3px;
    margin: 25px 12px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
}

.team-image {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
}

.team-stats {
    z-index: 5;
    margin-top: 15px;
}

.team-name {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 500 !important;
    align-self: flex-end !important;
    font-size: 20px !important;
    color: black;
    padding-bottom: 0 !important;
    width: 200%;
}

.team-level-bar {
    margin-top: 5px;
    position: relative;
    justify-content: flex-end;
    flex-direction: column;
}

.card-width {
    width: 130%;
    z-index: 5;
}

.item-width {
    width: 110%;
}

.EXP-text {
    text-align: right !important;
    align-content: right !important;
    color: black;
    font-size: 12px !important;
}

.item-text {
    color: white !important;
}

.EXP {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 500 !important;
    align-self: center !important;
}


.items {
    margin-right: 10px;
    right: 20px;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    position: relative;
    padding-left: 20px;
}