@font-face {
    font-family: 'pkmn_rbygscregular';
    src: url('/fonts/pkmn_rbygsc-webfont.woff2') format('woff2'),
         url('/fonts/pkmn_rbygsc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono_Regular.woff2') format('woff2'),
         url('/fonts/RobotoMono_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url('/fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('/fonts/robotocondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Light';
    src: url('/fonts/RobotoCondensed-Light.woff2') format('woff2'),
         url('/fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/RobotoCondensed-Regular.woff2') format('woff2'),
         url('/fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.TeamTabs {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    padding-bottom: 10px !important;
}

.TaskName {
    align-self: flex-start !important;
    color: white;
    font-family: 'pkmn_rbygscregular' !important;
    padding-bottom: 10px;
    font-size: 10px;
}

.colorPrimary {
   background-color: 'green';
}

.MuiLinearProgress-colorPrimary {
    background-color: white !important;
}

.MuiLinearProgress-barColorPrimary {
    background-color: #39D13F !important;
}

.SideBar {
    flex-shrink: 0;
    background-color: black !important;
    box-shadow: #3D3D3D;
    position: absolute;
    z-index: -1;
}

.MuiPaper-root {
    background-color: #3D3D3D !important;
}

.MuiList-padding {
    padding-bottom: 8px;
}

.GoalProgressBar {
    height: 20px !important;
}

.GoalDivider {
    margin-top: 10px !important;
    width: 75% !important;
    background-color: white !important;
}

.SideBarDivider {
    background: rgba(255, 255, 255, 0.2) !important;
    padding: 3px;
}

.TaskFilter {
    font-family: 'Roboto Condensed Bold', sans-serif !important;
    font-weight: 600 !important;
    align-self: center !important;
    text-align: center !important;
    color: white;
}

.AllTasks {
    font-size: 35px !important; 
}

.MyTasks {
    font-size: 25px !important; 
}

.TaskButton {
    background-color: #EF5959 !important;
    margin-top: -50px;
    width: 100% !important;
}

.TeamCardPosition {
    position: absolute;
    bottom:20px;
    left:0;
    z-index: 2;
}

.Shape {
    z-index: 0;
}

.BaseShape {
    width: 200px;
    height: 130px;
    background: #C4C4C4;
    box-shadow: 10px 10px 5px grey;
    position: absolute;
    bottom:0;
    left:0;
}

.ShapeContent {
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.TeamProgress {
    width: 50%;
    left: 50px;
    position: relative;
}

.BottomSupport {
    width: 61px;
    height: 69px;
    background: #C4C4C4;
    position:absolute;
    bottom:0;
    left:200px;
    box-shadow: 5px 5px 5px grey;
    z-index: 1

}

.TriangleCut {
    width: 0px;
    height: 0px;
    position:absolute;
    bottom: 69px;
    left: 200px;
    border-right: 61px solid transparent;
    border-bottom: 61px solid #C4C4C4;
}

.TeamLevelBar {
    margin-top: 10px;
    bottom: 0px;
    position: relative;
    z-index: 5;
    width: 130%;
    justify-content: flex-end;
    flex-direction: column;
}

.EXPText {
    text-align: right !important;
    align-content: right !important;
    color: black;
    font-size: 12px !important;
}

.EXP {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 500 !important;
    align-self: center !important;
}

.TeamStats {
    left: 10px;
    width: 600px;
    position: relative;
    z-index: 5;

}

.TeamName {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 500 !important;
    align-self: flex-end !important;
    font-size: 20px !important;
    color: black;
    padding-bottom: 0 !important;
    width: 200%;
}

.TeamIconBG {
    height: 70px;
    width: 400px;
    background-color: white;
    border-radius: 3px;
    margin: 12px 12px 12px 12px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
}

.TeamLabel {
    background-color: #F64747 !important;
    color: white !important;
    font-family: 'pkmn_rbygscregular' !important;
    border-radius: 10px !important;
    font-size: 10px !important;
    size: 15px !important;
    margin-bottom: 5px !important;
}

.TeamImage {
    max-width: 100%;
    max-height: 100%;
}

.StatusCardShape {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 750px;
    padding: 25px;
    
}

.StatusHeaders {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.StatusEdge {
    display: flex;
    flex-direction: column;
}

.StatusBaseShape {
    width: 300px;
    height: 750px;
    background: #E7E7E7;
    /* box-shadow: 5px 5px 5px grey; */
    /* position: absolute; */
}

.StatusBottom {
    width: 64px;
    height: 750px;
    background:#E7E7E7;
    /* position: relative; */
    /* top:10px;
    right:300px; */
    /* box-shadow: 5px 5px 5px grey; */

}

.StatusCut {
    height: 0px;
    /* position: relative; */
    /* bottom: 69px;
    right: 300px; */
    border-right: 64px solid transparent;
    border-bottom: 61px solid #E7E7E7;
}

.StatusCardTitle {
    margin: 56px 0 0 30px !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    color: #3D3D3D !important;
}

.Tasks {
    position: absolute;
    padding: 10px 18px 10px 25px;
    overflow-y: auto;
    height: 610px !important;

}

.TaskCard {
    width: 225px;
    height: 130px;
    background-color: white;
    border-radius: 9px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px ;
    justify-content: space-between;
}

#scrollbar::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: transparent;
}

#scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

#scrollbar::-webkit-scrollbar-thumb
{
	/* border-radius: 5px; */
	background-color: #C4C4C4;
}

.NewTaskButton {
    position: fixed !important;
    right: 0;
    bottom: 0;
    margin: 25px !important;
    size: 50px !important;
}

.NewTaskButtonColors {
    background-color:  #3D3D3D !important;
} 

.TaskIDText {
    font-family: 'Roboto Condensed Bold', sans-serif !important;
    color: #999999;
    font-size: 15px !important;
    text-align: end;
    padding-left: 5px !important;
}

.TaskHeaders {
    display: flex;
    flex-direction: row;
}

.TaskTitleText {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 600 !important;
    color: #3D3D3D;
    font-size: 15px !important;
    font-size: 14px !important;
}

.TaskLabels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
}

.Dropdown {
    height: 30px;
    width: 100px;
    padding: 0 !important;
}

.StatusPlaceholder {
    font-size: 12px !important;
    color: #3D3D3D !important;
    padding: 10px !important;
    border: 0 !important;
}




.ToDo {
    background-color: #F64747 !important;
    color: transparent !important;
}

.MuiFilledInput-underline:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    pointer-events: none;
    border: 0 !important;
}

.MuiFilledInput-underline:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    border-radius: 5px;
    border-bottom: 2px solid #F64747 !important;
    pointer-events: none;
}

.MuiInputBase-root {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: flex-end !important;
    font-size: 10px !important;
    font-family: 'pkmn_rbygscregular' !important;
    font-weight: 400;
    padding: 0 !important;
    text-align: end !important;

}

.MuiFilledInput-root {
    position: relative;
    transition: background-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    background-color: transparent !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.MuiFilledInput-input {
    padding: 10px 30px 5px 10px !important;
    align-content: flex-end !important;
    margin-bottom: 5px !important;
    display: flex;
}

.MuiSvgIcon-root {
    margin-bottom: 5px !important;
}


