.profile-card-shape {
    display: flex;
    flex-direction: row;
    height: 640px;
    padding: 25px 25px 0 25px;
    margin-top: 50px;
    margin-right: 100px;
    justify-content: center;
}

.profile-headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.profile-edge {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-base-shape {
    width: 400px;
    height: 640px;
    background: #292929;

}

.profile-bottom {
    width: 100px;
    height: 640px;
    background:#292929;

}

.profile-cut {
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #292929;
}

.profile-card-shadow {
    background-color: #484747;
    height: 640px;
    width: 25px;
    z-index: 5;
}

.user-name {
    font-family: 'pkmn_rbygscregular' !important;
    color: white;
    font-size: 30px !important;
    text-align: center;
    width: 120%;
}

.user-image{
    width: 100%;
    border-radius: 300px;
}

.user-icon{
    /* position: absolute; */
    align-self: center;
    justify-self: center;
    width: 275px;
    height: 275px;  
    margin-bottom: 30px;
    margin-top: 40px;
 
    background-color: whitesmoke;
    background-size: 280px 280px;
    background-position: center;
    border-radius: 300px;
    border: white 5px solid;
 
    transition: 0.5s;
 }

.info {
    margin-bottom: 50px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
     align-items: center;
}


.role-button {
    size: 200px;
    background-color: #F64747 !important;
    color: white !important;
    font-family: 'pkmn_rbygscregular' !important;
    font-size: 20px !important;
    border-radius: 10px !important;
    height: 80px !important;

    align-self: center;
    padding: 10px !important;
    margin-bottom: 50px !important;
    margin-left: 80px !important;
}

