.NewTaskButton {
    position: fixed !important;
    right: 0;
    bottom: 0;
    margin: 25px !important;
    size: 50px !important;
    z-index: 10;
}

.NewTaskButtonColors {
    background-color:  #3D3D3D !important;
} 