.colorPrimary {
    background-color: 'green';
 }
 
 .MuiLinearProgress-colorPrimary {
     background-color: white !important;

 }
 
 .MuiLinearProgress-barColorPrimary {
     background-color: #39D13F !important;
 }

 .progress-bar {
     width: 100%;
 }

 .goal-progress-bar {
    height: 20px !important;
}