.base-shape {
    width: 200px;
    height: 130px;
    background: #C4C4C4;
    box-shadow: 10px 10px 5px grey;
    position: absolute;
    bottom:0;
    left:0;
}

.shape-content {
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}


.bottom-support {
    width: 61px;
    height: 69px;
    background: #C4C4C4;
    position:absolute;
    bottom:0;
    left:200px;
    box-shadow: 5px 5px 5px grey;
    z-index: 1

}

.triangle-cut {
    width: 0px;
    height: 0px;
    position:absolute;
    bottom: 69px;
    left: 200px;
    border-right: 61px solid transparent;
    border-bottom: 61px solid #C4C4C4;
}